<div>
  <div id="modal-edit"> <h4><%= reservation.description %></h4> </div>
  <p> as <%= reservation.slot.hour %> de <%= reservation.slot.day %>-feira </p>
  <p> Esta sala foi marcado por <%= reservation.user.name %> </p>
  <% if reservation.user == current_user%>
  <p> <%= link_to "Editar?", edit_slot_reservation_path(reservation.slot, reservation), remote: true %> </p>
  <div class="edit-reservation"> </div>
  <% end %>
</div>
